@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins", sans-serif ;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}
.brand-name{
    color: rgb(58, 58, 58);
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 120px;
}
.menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 120px;
}
.menu img{
    width: 19px;
    height: 19px;
    margin-top: 5px;
}
.list-item{
    margin-right: 34px;
}
.link{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    /* gap: 133px; */
}
.banner-left-side{
    width: 582px;
    height: 270px;
    margin-left: 120px;
    margin-top: 145px;
}
.banner-heading{
    color: rgb(58, 58, 58);
    font-size: 3.15rem;
    font-weight: 700;

}
.banner-sub{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
}
.banner-btn{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 28px 10px 28px;
    color: white;
    border: none;
    margin-top: 26px;
    text-align: center;
    position: relative;
    border: none;
    cursor: pointer;
}

.banner-right-side{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-size: cover;
    margin-right: 120px;
    margin-top: 59px;
}
.brands{
    max-width:1110px;
    height: 110px;
    margin-top: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.brand-img{
    width: 111px;
    height: 26px;
    
    margin-right: 66px;
}

@media screen and (max-width:576px) {
    .nav-bar, .menu, .banner, .brands{
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        text-align: center;
        
    }

    .brand-name{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: -60px;
    }

    .menu{
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid green; */
        margin-top: 30px;
       
      
    }
    .list-item{
        margin-left: 20px;
        margin-bottom: 5px;
    }
   

    .banner-left-side{
        /* border: 1px solid red; */
        width: 270px;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 25px;

    }
    
    .banner-heading{
    color: rgb(58, 58, 58);
    font-size:1.5rem;
    font-weight: 600;

    }

    .banner-sub{
        color: rgb(58, 58, 58);
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }
 
  
    .banner-right-side{
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }
        
    .banner-right-side img{
        height:220px;
        width:220px ;

    }
    .brands{
        margin-left: auto;
        margin-right: auto;
    }
    .brand-img{
        margin-left: auto;
        margin-right: auto;
    
        margin-bottom: 15px;
    }

    
}
.card-main-sec{
    width: 1047px;
    height: 1662px;
    margin-top: 147px;
    margin-left: auto;
    margin-right: auto;

}
.card-header{
    color: rgb(58, 58, 58);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    
    
}
.card-section{
    margin-top: 47px;
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 15px;

}
#card{
  
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px;

}
#card:hover{
    background-color: #2a4b5e;
    transition: .5s;
    transform: rotate(5deg);
}
#card h3{
    color: rgb(24, 25, 31);
    font-size: 1.5rem;
    font-weight: 500;

}
#card h4{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 400;
}
#card p{
    color: rgb(120, 120, 133);
    font-size: 1rem;
    font-weight: 700;
}
/* .see-more{
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    margin-left: 970px;
    margin-top: 50px;
    cursor: pointer;
   
} */
@media screen and (max-width:576px) {

    .card-section{
        margin-top: 47px;
      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
       
    
    }

    .card-main-sec{
        width: 280px;
        height: 1400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 147px;
      
    
    }

    .card-header{
        color: rgb(58, 58, 58);
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
      
        
    }
    #card{
        width: 110px;
        height: 220px;
        padding: 10px;
        /* border: 2px solid red; */

        /* margin-left: auto;
        margin-right: auto; */
    
      
    }
    #card img{
        width: 100px;
        height: 100px;
     
       

    }
    #card h3{
        font-size: 1rem;
        font-weight: 500;

    }
    #card h4{
        font-size: 0.75rem;

    }
    #card p{
        font-size: 0.5rem;
        font-weight: 400;
        width: 100px;
        height: 100px;

    }
    
}

.feature{
    max-width: 1110px;
    height: 270px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.feature-img{
    margin-right: 95px;
}
.feature-text{
    width: 610px;
    height: 224px;
    
    
}
.feature-text h3{
    color: rgb(10, 8, 38);
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.feature-text p{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width:576px)  {
    .feature{
        flex-direction: column;
        width: 100%;
    
    }

    .feature-img{
      
        width: 370px;
        margin-top: 20px;
     
        
    
    }
    #img{
        width: 300px;
        margin-left: 60px;
   
    }

   
    .feature-text{
        width: 300px;
        height: 390px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
  

    }

    .feature-text h3{
        color: rgb(10, 8, 38);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .feature-text p{
        color: rgb(108, 108, 108);
        font-size: 1rem;
        font-weight: 700;
    }
   
}

.last-part{
    height: 360px;
    background: rgb(10, 8, 38);
    margin-top: 100px;

   
}
.last-part-items{
    width: 300px;
    height: 189px;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
   
}
.last-part-items h4{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
 


}
.last-part-items p{
    color: rgb(217, 219, 225);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
}
.last-part-items img{
    margin-right: 18px;
    
}