@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins", sans-serif ;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}
.brand-name{
    color: rgb(58, 58, 58);
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 120px;
}
.menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 120px;
}
.menu img{
    width: 19px;
    height: 19px;
    margin-top: 5px;
}
.list-item{
    margin-right: 34px;
}
.link{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    /* gap: 133px; */
}
.banner-left-side{
    width: 582px;
    height: 270px;
    margin-left: 120px;
    margin-top: 145px;
}
.banner-heading{
    color: rgb(58, 58, 58);
    font-size: 3.15rem;
    font-weight: 700;

}
.banner-sub{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
}
.banner-btn{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 28px 10px 28px;
    color: white;
    border: none;
    margin-top: 26px;
    text-align: center;
    position: relative;
}

.banner-right-side{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-size: cover;
    margin-right: 120px;
    margin-top: 59px;
}
.brands{
    max-width:1110px;
    height: 110px;
    margin-top: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.brand-img{
    width: 111px;
    height: 26px;
    
    margin-right: 66px;
}

@media screen and (max-width:576px) {
    .nav-bar, .menu, .banner, .brands{
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        text-align: center;
        
    }

    .brand-name{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: -60px;
    }

    .menu{
        margin-left: auto;
        margin-right: auto;
    }
   

    .banner-left-side{
        width: 300px;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 25px;

    }
    
    .banner-heading{
    color: rgb(58, 58, 58);
    font-size:1.5rem;
    font-weight: 600;

    }

    .banner-sub{
        color: rgb(58, 58, 58);
        font-size: 0.5rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .banner-btn{
        
    }
  
    .banner-right-side{
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
        
    .banner-right-side img{
        height:220px;
        width:220px ;

    }
    .brands{
        margin-left: auto;
        margin-right: auto;
    }
    .brand-img{
        margin-left: auto;
        margin-right: auto;
    
        margin-bottom: 15px;
    }

    
}